/* ! Google Fonts: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #333333;
    font-family: 'Poppins', sans-serif;
    color: #F6F8F8;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* * overriding default margins */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

p {
    font-size: 14px;
}

.body-nav-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-bar {
    background-color: #1e1e1e;
    padding: 15px 20px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playground {
    width: 80%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    /* ! remove later */
    /* border: 1px solid #F6F8F8; */
}

.test-data-container {
    display: flex;
    flex-direction: row;
}

.test-data {
    background-color: #3CBEB4;
    display: flex;
    color: #333333;
    padding: 0px 5px;

    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
}

.test-data:hover {
    background-color: #F6F8F8;
}

#tst-d1 {
    height: 69px;
}
#tst-d2 {
    height: 150px;
}
#tst-d3 {
    height:75px;
}
#tst-d4 {
    height: 90px;
}
#tst-d5 {
    height: 70px;
}
#tst-d6 {
    height: 50px;
}
#tst-d7 {
    height: 250px;
}
#tst-d8 {
    height:20px;
}
#tst-d9 {
    height: 55px;
}
#tst-d10 {
    height: 80px;
}

#algorithm-choices {
    padding: 3px;
    border: 1px solid grey;
    border-radius: 7px;
}

.footer-bar {
    background-color: #1e1e1e;
    padding: 15px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.controller-btns {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

/* button {
    padding: 5px 10px;

    background-color: #F6F8F8;
    color: #333333;
    font-weight: bold;

    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #3CBEB4;
}

button:active {
    background-color: #333333;
    color: #3CBEB4;  
} */

/* #project-name {
    color: #3CBEB4;
} */